$mq-tablet-ls				: 1210px !default;
$mq-tablet-pr				: 968px !default;
$mq-mobile					: 766px !default;
$mq-mobile-pr				: 480px !default;

@mixin tablet-ls {
	@media (max-width : $mq-tablet-ls) {
		@content;
	}
}

@mixin tablet-pr {
	@media (max-width : $mq-tablet-pr) {
		@content;
	}
}

@mixin mobile {
	@media (max-width : $mq-mobile) {
		@content;
	}
}
@mixin mobile-pr {
	@media (max-width : $mq-mobile-pr) {
		@content;
	}
}


@mixin container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	// overflow: hidden;
	// position: relative;

	@include tablet-ls {
		width: 1024px;
		padding: 0 24px; 
	}
	
	@include tablet-pr {
		width: 768px;
	}

	@include mobile {
		width: 100%; 
		padding: 0 20px; 
	}
}
